@model IEnumerable<shoptar.Models.Spaceships.SpaceshipsIndexViewModel>

@{
	int rowNumber = 1;
}

<div>
	<a asp-action="create" asp-controller="spaceships" type="submit" class="btn btn-primary">Create</a>
</div>

	<div class="h1">
	Spaceships
	</div>
	<form method="post">
		<table class="table table-hover">
		<thead>
    <tr>
				<td scope="col">Nr</td>
				<td scope="col">Name</td>
				<td scope="col">Type</td>
				<td scope="col">Build Date</td>
				<td scope="col">Crew</td>
				<td scope="col"></td>
    </tr>
</thead>
<tbody>

	@foreach(var spaceships in Model)
			{
				<tr>
					<td>@rowNumber</td>
					<td>@spaceships.Name</td>
					<td>@spaceships.TypeName</td>
					<td>@spaceships.BuiltDate</td>
					<td>@spaceships.Crew</td>
					<td>
						<a asp-action="update" asp-controller="spaceships" asp-route-id="@spaceships.Id" class=" btn btn-outline-warning">Update</a>
						<a asp-action="delete" asp-controller="spaceships" asp-route-id="@spaceships.Id" class=" btn btn-outline-danger">Delete</a>
					</td>
				</tr>
				rowNumber += 1;
			}
		</tbody>
</table>
	</form>